@model IEnumerable<ASP.NET_MVC_Entity.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.iCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iCode })
        </td>
    </tr>
}

</table>
